SEP6_ENABLED=true
SEP10_ENABLED=true
SEP12_ENABLED=true
SEP24_ENABLED=true
SEP31_ENABLED=true
SEP38_ENABLED=true
CALLBACK_API_BASE_URL=http://uc-cross-border-api:8081/api
CALLBACK_API_AUTH_TYPE=jwt
ASSETS_TYPE=file
ASSETS_VALUE=/config/dev.assets.yaml

# Database connection for anchor platform
DATA_TYPE=postgres
DATA_SERVER=db
DATA_DATABASE=anchor_platform
SECRET_DATA_USERNAME=anchor
SECRET_DATA_PASSWORD=password

# Secret configs
SECRET_SEP10_SIGNING_SEED=your_signing_seed_here
SECRET_SEP6_MORE_INFO_URL_JWT_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
SECRET_SEP10_JWT_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
SECRET_SEP24_INTERACTIVE_URL_JWT_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
SECRET_SEP24_MORE_INFO_URL_JWT_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
SECRET_SEP31_JWT_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
SECRET_CALLBACK_API_AUTH_SECRET=super_secret_jwt_key_that_is_at_least_32_bytes_long!
